/* 
  Get rid of default margin and padding.
  "box-sizing: border-box" ensures the padding, 
  margin, and border dimensions are always included
  in our width and height calculations. Previously, 
  only the dimensions of the content inside our elements
  would be considered 
*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Ensure 3D canvas takes up the whole screen without scroll bars */
body {
  overflow: hidden;
  background-color: #000;
}
/* canvas is treated as inline by default, change it to block for easier building initially */
canvas {
  display: block;
}